<%- include("header") -%>
<div class="compose-box">
    <form action="compose" method="post">
        <div><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"></div>
        <div class="composeNav ">
            <button>Cancel</button>
            <span class="composeNavRight">
                <label for="file" style="cursor: pointer;">
                    <i class="far fa-image composeIcon"></i>
                </label>
                <button type="submit">Done</button>
            </span>
        </div>
        <div class="editPlace ">
            <div class="uploadImg ">
                <img id="output" width="450" >
            </div>
            <div class="uploadText">
                <textarea class="planText textTop "name="title" id="" placeholder="Title"></textarea>
                <textarea class="planText textTop" name="category" id="" placeholder="Category"></textarea>
                <textarea class="planText textMiddle" name="textContent" id="" placeholder="Write here"></textarea>
            </div>
        </div>

        <script>
            var loadFile = function(event) {
                var image = document.getElementById('output');
                image.src = URL.createObjectURL(event.target.files[0]);
            };
            </script>    
   
    </form>
</div>
<%- include("footer") -%>