<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Coso's Planner</title>
        <!-- icon -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"> <!--load all styles -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <!-- font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&family=Open+Sans:wght@300&display=swap" rel="stylesheet">        
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header>
            <nav class = "nav">
                <a href="/"><img src="/image/home-img.png" class="home" alt="home-img"></a>
                <span class = "nav-right menu">
                    <i class="far fa-caret-square-down shortenMenu"></i>

                    <div class="wideMenu">
                        <span class="menu-contents"><a href="/workout" >Workout Plan</a> </span>
                        <span class="menu-contents"><a href="" >Rest</a></span>
                        <span class="menu-contents"><a href="" >Diet</a></span>
                        <span class="menu-contents"><a href="   " >Equipment</a></span>
                    </div>

                    </div>
                    <!-- <i class="fas fa-bars icons"></i> -->
                </span>
                <span class = "nav-right search">
                   <i class=" fas fa-search icons"></i>
                    <form action="">
                        <input class= "search-text"type="text" placeholder="  검색" >
                    </form>
                </span>

            </nav>
        </header>