<%- include("header") %>
<img class="restImg1"src="/image/exhaustion.jpg" alt="">

<div class="restBox">

    <h1>휴식을 해야 하는 이유는?</h1>
    <p>
        휴식은 운동에 있어 아주 중요한 요소입니다. 가끔 의욕에 앞서 운동을 매일매일 하는 경우가 있습니다.
        그 정도가 심하지 않다면 매일해도 되지만 문제는 그런 의욕을 가질 때는 운동을 적당히가 아닌 무리해서 하게 되고
        그러한 행동들은 내몸에 부정적인 영향을 끼칩니다.
    </p>
    <h2>첫 번째 이유, 정신.</h2>
    <p>
        운동을 하는 것 자체가 스트레스인 경우가 많습니다. 좋아하는 운동을 하기 보다 필요한 운동을 하거나
        다른 목적으로 인해 운동을 시작하게 되는 경우입니다. 이런 분들이 휴식을 제대로 취하지 못한다면 그것은 
        부담이고 무리가 되어 운동을 포기하게 만드는 요소가 되기 때문입니다.
    </p>
    <h2>두 번째 이유, 몸.</h2>
    <p>
        휴식은 나의 정신만을 위한 것이 아닙니다. 나의 몸, 나의 근육, 나의 신경계를 위해서입니다.
        운동을 할때 우리는 힘든 상황을 이겨내는 정신뿐만 아니라 몸을 움직이기 위해 근육에 손상을 주고
        더 나아가 그런 힘을 줄수 있게하는 신경계에도 손상을 줍니다. 특히 웨이트 트레이닝의 고중량 훈련은 더더욱 신경계에
        피로를 줍니다. 그렇기 때문에 나의 정신과 몸만을 위한 휴식과 신경계를 위한 휴식시간도 줘야합니다.
    </p>
    <h2>세 번째 이유는 부상방지.</h2>
    <p>
        사실 위의 두 이유와 관련이 있는 그리고 가장 중요한 휴식입니다. 제 정신이 아닌 상태에서 운동을 하게 된다면
        갑작스러운 위험상황에 대처가 느릴 수 있습니다. 이러한 상황은 큰 부상의 위험을 주고 몸에 대한 피로가 풀리지
        않은 상태에서 운동을 하게 되면 평소보다 떨어진 운동능력으로 인해 생기는 부상이 생길수 있습니다.
    </p>
    <h2>그래서 휴식은?</h2>
    <p>
        잘자고 잘 먹고 잘 쉬면 됩니다. 이게 무슨 말이냐 하면 스스로가 알고 있는 것과 크게 다르지 않다는 것입니다. 
        수면시간이 나에게 충분하고 몸의 이상신호를 무시하지 않고 게으름과 휴식을 구분할 줄 안다면 크게 알고 있어야
        하는 것이 없이 잘 쉬면 됩니다.
    </p>
    <h3>
        운동을 열심히 한 당신 , 죄책감없이 편한하게 쉬세요!. 
    </h3>
</div>
<%- include("footer") %>