<%- include("header") %>
<div>
    <h1>우리가 운동을 하는 이유는 무엇일까요?</h1>
    <p>
        휴식에 대해 알아보기에 앞서 운동을 하는 이유에 대해 생각해봐야 할 것 같습니다.
        운동은 왜 하는지에 대해 생각해보니 여러가지 이유들이 있겠지만 보편적으로는 세 가지
        경우를 들 수 있을 것 같습니다.
    </p>
    <h2>첫 번째 이유, 건강입니다.</h2>
    <p>
        우리의 삶을 행복하기 위해서는 가장 먼저 육체의 건강에 있습니다. 세상에 재미있는 것들과
        맛있는 것들은 정말 많습니다 .세상은 변해가고 더 좋은 것들은 생겨나고 주위에 미쳐 돌아보지
        못했던 즐거움들도 계속해서 발견해갑니다. 하지만 그런 것들이 모두 나의 건강에 좋은
        영향을 끼치지는 않습니다. 술과 담배는 건강에 해롭지만 사람에 따라 삶의 즐거움이 될
        수도 있고 세상에 맛있는 음식은 많지만 그것들을 너무 많이 먹었을때 몸에 문제를 일으키기도 합니다.
        이런 것들을 항상 멀리 하면 좋겠지만 그것이 결코 마냥 쉽지만은 않습니다. 하지만 운동을 하게 되면
        이러한 것들의 리스크를 줄일 수가 있습니다. 
    </p>
    <h2>두 번째 이유, 건강한 몸매입니다.</h2>
    <p>
        자신의 몸을 사랑하고 자랑스러워하는 것은 나의 삶에 있어 굉장히 중요합니다. 
        자신있는 몸매는 나에게 자신감을 주고 부끄러움을 없애주기 때문입니다.
        하지만 자신의 몸을 사랑하는 것과 건강한 몸매를 말하는 것은 다른 것입니다.
        조각같은 몸매를 말하는 것이 아닌 몸의 기능에 이상이 없고 내가 하려고 하는 것을
        할수 있는 몸매는 우리가 익히 알고 있는 자기관리를 통한 몸매입니다.
        이러한 몸매를 가꾸기 위해서는 운동이 필요합니다. 무게가 남들보다 나간들 기능상의
        문제가 없고 아픈 곳이 없다면 그또한 건강한 몸이기 때문입니다. 이를 이루기 위해선
        타고난 몸매 혹은 지속적인 운동이 필요하기 때문에 우리는 운동을 통해 몸매를 가꿉니다.
    </p>
    <h2>세 번째 이유는 좋아하기 때문입니다.</h2>
    <p>
        사람마다 좋아하는 운동이 다릅니다. 저는 개인적으로 웨이트 트레이닝을 좋아합니다. 하지만 구기 종목은
        좋아하지 않습니다. 횡단보도 파란불이 3초가 남아도 절대로 뛰지 않는 제 친구는 웨이트 트레이닝을 좋아하진
        않지만 자전거타기를 즐겨합니다. 오랜만에 만나는 다른 친구에게 같이 만나 스포츠를 같이 해보겠냐고 제안했지만
        돌아온 대답은 "너나 해" 였던 친구는 필라테스를 배우고 있습니다. 이처럼 꼭 웨이트 트레이닝만 운동이 아닙니다.
        걷기도 운동이고 배드민턴도 운동이며 수영도 운동입니다. 
        혹시 본인이 운동을 싫어한다면 아직 좋아하는 운동을 찾지 못한 것일 수도 있습니다.
    </p>
    <h2>이제 휴식에 대한 이야기를</h2>
    <p>
        휴
    </p>
    <div>
        
    </div>
</div>
<%- include("footer") %>